Django==4.2.1
django-admin-soft-dashboard==1.0.11
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.0.0
django-import-export==3.3.7
django-timezone-field==7.0
djangorestframework==3.14.0
gitdb==4.0.11
GitPython==3.1.43




