{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'upload.css' %}" />
    <title>Upload Item</title>
  </head>
  <body>
    <div class="upload-form-container">
      <div class="upload-form">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %}
        <h2>Upload Item</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="name" placeholder="Name" required />
          <input type="text" name="location" placeholder="Location" required />
          <input
            type="text"
            name="description"
            placeholder="Description"
            required
          />
          <input type="file" name="image" required />
          <input
            type="text"
            name="contact"
            placeholder="Contact Number"
            required
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
